@import "~/node_modules/figma-plugin-ds/dist/figma-plugin-ds.css";

:root {
  --margin: 12px;
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 11px;
  line-height: 16px;
  min-width: 300px;
}

html,
body,
#__nuxt,
#__layout {
  width: 100%;
}
body {
  margin: 0;
  overflow-x: hidden;
}
hr {
  border: 0;
  border-bottom: 1px solid rgba(black, 0.2);
  margin: 0;
  min-width: 300px;
}
a {
  text-decoration: none;
  color: currentColor;
}
.button {
  text-transform: capitalize;
}
[suffix] {
  position: relative;
  &:after {
    content: attr(suffix);
    pointer-events: none;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    margin-right: 2em;
  }
}
[suffix-link]:after {
  text-decoration: underline;
}
